
$primary: #FF1D8E;
$secondary: #48008f;
$inverse: #ffc8e3;
$text: #333333;


$neon-primary: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
$neon-secondary: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #48008f 0px 0px 20px, #48008f 0px 0px 30px, #48008f 0px 0px 40px, #48008f 0px 0px 50px, #48008f 0px 0px 75px;
